.about {
    display: flex;
    justify-content: space-between;

    p {
        margin: 0;
        padding-bottom: 16px;
    }
    
    &__short {
        font-size: 20px;
        line-height: 32px;
    }
    
    &__details {
        font-size: 16px;
        line-height: 26px;
    }
    
    &__descr {
        width: 100%;
        text-align: justify;
    }
    
    &__video {
        width: 100%;
        text-align: right;
    }
}