.footer {
    font-size: 12px;

    &__content {
        padding: 20px 0px 20px;
        display: flex;
        justify-content: space-between;
    }

    &__copyright p {
        margin: 0px 0px 8px;
    }

    &__nav {
        margin-top: 12px;
    }
}