.service {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__item {
        max-width: 350px;
        margin-right: 20px;
    }

    &__img {
        padding-bottom: 20px;
    }
    
    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 8px;
    }
    
    &__descr {
        font-size: 12px;
        line-height: 20px;
        padding-bottom: 16px;
    }
    
    &__btn {
        margin-bottom: 48px;
    }  
    
    @media screen and (max-width: 768px) {
        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    
        &__img img {
            width: 100%;
            height: auto;
        }
    
        &__item {
            max-width: 320px;
        }
    
        &__descr {
            text-align: justify;
        }
    }
}